[package]
name = "solidworks-mcp-rs"
version = "0.1.0"
edition = "2021"

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true

[dependencies]
ahash = "0.8"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
